<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyect.movil"
    android:versionCode="2"
    android:versionName="2.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- ASIGNAR PERMISOS A LA APLICACION -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--  -->
    <application
        android:name = "android.support.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@drawable/logo_seidor_menu"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/logo_seidor_menu"
        android:theme="@style/AppTheme"
        android:versionCode="1"
        android:versionName="1.0">

        <!-- DECLARACION DE ACTIVITIES -->
        <activity
            android:name="com.proyecto.movil.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">

            <!-- ACTIVITY EN SER LANZADO PRIMERO -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.proyecto.movil.MainActivityDrawer"
            android:label="@string/titMenuPrincipal"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.proyecto.movil.MainActivity"
            android:label="@string/titMenuPrincipal"
            android:screenOrientation="portrait"/>

        <!-- REGISTRO SOCIO DE NEGOCIO -->
        <activity
            android:name="com.proyecto.sociosnegocio.MainSocioNegocio"
            android:label="@string/titCliente"
            android:screenOrientation="portrait"/>

        <!-- PARAMETROS DE CONEXION -->
        <activity
            android:name="com.proyecto.preferences.SettingsMain"
            android:label="@string/titConn"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.proyecto.movil.MainActivity" />
        </activity>

        <!-- DETALLE SOCIO DE NEGOCIO -->
        <activity
            android:name="com.proyecto.sociosnegocio.DetalleSocioNegocioMain"
            android:label="@string/titDetCliente"
            android:screenOrientation="portrait"/>

         <!-- LISTA CONTACTOS DE AGENDA TELEFONICA -->
        <activity
            android:name="com.proyecto.sociosnegocio.PhoneContactsListActivity"
            android:label="@string/activity_bp_list"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action." />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
        </activity>

        <!-- VENTAAS -->
        <activity
            android:name="com.proyecto.ventas.MainVentas"
            android:label="@string/titOrdenVenta"
            android:screenOrientation="portrait">

            <!-- Intent para la implementación de la búsqueda -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_sales" />
        </activity>
        <activity
            android:name="com.proyecto.ventas.DetalleVentaMain"
            android:label="@string/titDetOrd"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.proyecto.ventas.DetalleVentaLinea"
            android:label="@string/titDetOrd"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.proyecto.ventas.DetalleVentaMain" />
        </activity>

        <!-- VENTAAS -->


        <!-- Cobranzas -->
        <activity
            android:name="com.proyecto.cobranza.MainCobranzas"
            android:label="@string/titCobranzas"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.proyecto.movil.MainActivity" />
        </activity>
        <activity
            android:name="com.proyecto.cobranza.DetalleCobranzaMain"
            android:label="@string/titDetOrd"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.proyecto.cobranza.DetalleFacturaMain"
            android:label="@string/titDetOrd"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.proyecto.informes.Informe"
            android:label="@string/titInformes"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.proyecto.facturas.DetalleFacturaLinea"
            android:label="@string/titDetOrd"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.proyecto.inventario.DetalleArticuloMain"
            android:label="@string/titDetOrd"
            android:screenOrientation="portrait"/>

        <receiver android:name="com.proyecto.broadcast.MainReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- SERVICIOS -->
        <!--
            <service
            android:name="com.proyecto.servicios.UpdateIntentService"
            android:exported="false" >
        </service>
        -->

        <service
            android:name="com.proyecto.servicios.ServicioOvPr"
            android:enabled="true"
            android:exported="false" />

        <!--
            <service
            android:name="com.proyecto.servicios.ServicioSocios"
            android:exported="false" 
            android:enabled="true">
        </service>
        -->


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <activity
            android:name="com.proyecto.sociosnegocio.SocioDireccionActivity"
            android:label="@string/title_activity_socio_direccion"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.proyecto.movil.PinVerified" android:screenOrientation="portrait" />
        <activity android:name="com.proyecto.incidencias.IncidenciaActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.facturas.BuscarFacturaActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.sociosnegocio.ClienteBuscarActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.incidencias.IncidenciaDetalleActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.entregas.EntregaDetalleActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.proyecto.geolocalizacion.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.geolocalizacion.ShowMapActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.visitas.DetalleVisitaActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.devoluciones.DevolucionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.devoluciones.DevolucionListaEntregaActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.devoluciones.DevolucionArticulosActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.devoluciones.DevolucionDetalleActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.notacredito.NotaCreditoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.notacredito.NotaCreditoListaFacturaActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.notacredito.NotaCreditoArticulosActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.notacredito.NotaCreditoDetalleActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.proyecto.inventario.ListaArticuloPrecioActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>